* {
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background-color: salmon;
  border: 2px solid cornflowerblue;
  /* animation-name: circulo;
  animation-duration: 2s; */

  /*Fill Mode: Define como ejecutar la animación.
  - Forwards la ejecuta, pero se queda en el último frame */
  /* animation-fill-mode: both; */
  /* animation-iteration-count: infinite; */
  /* animation-delay: 2s; */
  /* animation-direction: alternate;
  animation-timing-function: ease; 
  */

  animation: alternate circulo infinite 2s 3s;
}

/* Definiendo animaciones:
1. Uso la palabra keyframes
2. Especifico de donde salgo y hacia donde voy
3. En cada momento, agrego las propiedades a cambiar.
4. Agrego la animación al elemento a ser animado

Tip: Siempre setear las condiciones iniciales y finales */
@keyframes circulo {
  from {
    border-radius: 0px;
  }

  to {
    border-radius: 50%;
  }
}


#m1,#m2,#m3,#m4,#m5,#m6,#m7,#m8 {
  animation: caer 1s ease-in infinite;
}

#m1 {
  animation-delay: 100ms;
}
#m2 {
  animation-delay: 200ms;
}
#m3 {
  animation-delay: 300ms;
}
#m4 {
  animation-delay: 400ms;
}



@keyframes caer {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}