<header class="main-header">
  <nav>
    <ul class="main-header-ul">
      <li><a href="">Página Principal</a></li>
      <li><a href="">Productos</a></li>
      <li><a href="">Contacto</a></li>
    </ul>
  </nav>
</header>