* {
  box-sizing: border-box;
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.header {
  grid-column: 1/3;
}


.nested-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  gap: 20px;
}

.box {
  background-color: goldenrod;
}