.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 400px;
  gap: 10px;
  /* column-gap: 10px;
  row-gap: 10px; */
}

/* Auto => Se ajusta al contenido y los hermanos de la misma fila se ajustan */

.text {
  background-color: gray;
  padding: 20px;
}