* {
  box-sizing: border-box;
}

body {
  margin: 0
}

img {
  max-width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 20%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 10px;
}

.seleccionada {
  border: 3px solid rgba(48, 134, 13);
}