<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form>
    <label>
      Nombre 
      <input type="text" name="name">
    </label>

    <label>
      Apellido
      <input type="text" name="lastname">
    </label>

    <label>
      Consulta
      <textarea name="question"> </textarea>
    </label>

    <input type="submit" value="Enviar">
  </form>

  <script src="/js/contacto.js"></script>
</body>
</html>