.caja1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  background-color: lightcoral;
}

.caja2 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
}

.caja1:hover {
  /* transform: scaleX(1.5); */
  transform: rotate(45deg);
}