body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 340px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 30px 30px 0 0;
  background-color: #FBFBFB;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,.1);
}

.card-content {
  padding: 20px;
}

.card-img {
  max-width: 100%;
  border-radius: 30px 30px 0 0;
}

.card-title {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}

.card-button {
  display: inline-block; /* Mix entre bloque y linea. Le da bola a los márgenes si es una etiqueta de línea */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px 35px;
  border-radius: 30px;
  text-decoration: none;
}

.bg-green {
  background-color: #549E6D;
}

.centrado {
  text-align: center;
  /* border: 1px solid black; */
}


/* Colores */

/* Con témperas, mezclamos colores de pinturas.

Con pixeles hacemos lo mismo entre los colores permitidos con luces.
R = RED 
G = GREEN
B = BLUE

rgb(V1, V2, V3)
V1 = R | 0 a 255
V2 = G | 0 a 255
V3 = B | 0 a 255

0 = NADA
255 = FULL COLOR

rba(R,G,B);

rgba(255, 0, 0); => ROJO
rgba(0, 255, 0); => VERDE
rgba(0, 0, 255); => AZUL

Combinación de valores, me dan todos los colores.

///// ALPHA = Transparencias

rgba(V1,V2,V3,ALPHA)

ALPHA | 0 a 1
Siendo 0 => Transparente
Siendo 1 => Opaco (Se ve al 100%)

*/