body {
  background-color: lightcoral;
}

h1 {
  text-align: center;
  font-size: 42px;
}

/* Pensamos en Desktop. */

/* Cuando la resolución sea menor a 768px, activá el conjunto de reglas que te voy a pasar dentro de las llaves {}, sobreescribiendo a las anteriores. */

/* No hay que re estilar todo el sitio, sino solo las excepciones. */

@media(max-width: 992px) {
  body {
    background-color: maroon;
  }
  h1 {
    font-size: 36px;
  }
}

@media(max-width: 768px) {
  body {
    background-color: lightseagreen;
  }
  h1 {
    font-size: 26px;
  }
}
